<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD Cổ Aó</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bd9b5e640d.js" crossorigin="anonymous"></script>
    <style>
        body {
            margin-left: 250px; /* Chiều rộng sidebar */
        }

        .form-container {
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            margin: 20px;
        }

        .sidebar {
            height: 100vh;
            width: 250px;
            position: fixed;
            top: 0;
            left: 0;
            background-color: #FE5621;
            color: white;
            transition: all 0.3s;
            padding: 15px;
        }

        .sidebar .nav-link {
            color: white;
            transition: background-color 0.3s, color 0.3s;
        }

        .sidebar .nav-link:hover {
            background-color: #FFC048;
            color: #ffffff;
        }
        .btn-cancel {
            background-color: #f44336; /* Màu đỏ */
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px 15px;
            cursor: pointer;
            font-size: 13px;
            margin-left: 10px; /* Khoảng cách với icon */
        }
    </style>
</head>
<body>

<!-- Sidebar -->
<div class="sidebar" th:fragment="dynamic(view)">
    <div class="d-flex justify-content-between align-items-center p-3">
        <img th:src="@{/Image/panda_logo.png}" width="150px;" height="150px;">
    </div>
    <ul class="nav flex-column">
        <!-- Role Admin -->
        <li th:if="${role == 'admin'}" class="nav-item">
            <ul class="nav flex-column">
                <li th:if="${role == 'admin'}" class="nav-item">
                    <a class="nav-link" href="#" data-toggle="collapse" data-target="#submenu1">
                        <i class="fa-brands fa-slack" style="color: #ffffff; font-size:20px "></i> Quản lý sản phẩm
                    </a>
                    <ul class="collapse" id="submenu1">
                        <li th:if="${role == 'admin'}" class="nav-item">
                            <a class="nav-link" th:href="@{/panda/sanpham}">
                                <i class="fa-solid fa-shirt" style="color: #ffffff;"></i> Sản phẩm</a>
                        </li>
                        <li th:if="${role == 'admin'}" class="nav-item">
                            <a class="nav-link pl-3" th:href="@{/panda/mausac}">
                                <i class="fa-solid fa-palette" style="color: #ffffff;"></i> Màu sắc</a>
                        </li>
                        <li th:if="${role == 'admin'}" class="nav-item">
                            <a class="nav-link pl-3" th:href="@{/panda/kichthuoc}">
                                <i class="fa-solid fa-minimize" style="color: #ffffff;"></i> Kích thước</a>
                        </li>
                        <li th:if="${role == 'admin'}" class="nav-item">
                            <a class="nav-link pl-3" th:href="@{/panda/chatlieu}">
                                <i class="fa-solid fa-binoculars" style="color: #ffffff;"></i> Chất liệu</a>
                        </li>
                        <li th:if="${role == 'admin'}" class="nav-item">
                            <a class="nav-link pl-3" th:href="@{/panda/coao}">
                                <i class="fa-brands fa-discord" style="color: #ffffff;"></i> Cổ áo</a>
                        </li>
                        <li th:if="${role == 'admin'}" class="nav-item">
                            <a class="nav-link pl-3" th:href="@{/panda/danhmuc}">
                                <i class="fa-solid fa-layer-group" style="color: #ffffff;"></i> Danh mục</a>
                        </li>
                        <li th:if="${role == 'admin'}" class="nav-item">
                            <a class="nav-link pl-3" th:href="@{/panda/thuonghieu}">
                                <i class="fas fa-trademark" style="color: #ffffff;"></i> Thương hiệu</a>
                        </li>
                        <li th:if="${role == 'admin'}" class="nav-item">
                            <a class="nav-link pl-3" th:href="@{/panda/nsx}">
                                <i class="fas fa-industry" style="color: #ffffff;"></i> Nhà sản xuất</a>
                        </li>
                    </ul>
                </li>
                <!-- QLGG -->
                <li th:if="${role == 'admin'}" class="nav-item">
                    <a class="nav-link" th:href="@{/panda/giamgia}">
                        <i class="fa-solid fa-ticket" style="color: #ffffff;"></i> Quản lý giảm giá </a>
                </li>
                <!-- QLTK -->
                <li th:if="${role == 'admin'}" class="nav-item">
                    <a class="nav-link" href="#" data-toggle="collapse" data-target="#submenu2">
                        <i class="fa-solid fa-circle-user" style="color: #ffffff;"></i> Quản lý tài khoản</a>
                    <ul class="collapse" id="submenu2">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/panda/tknhanvien}">
                                <i class="fa-solid fa-user" style="color: #ffffff;"></i> Tài khoản nhân viên</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-3" th:href="@{/panda/tkkhachhang}">
                                <i class="fa-solid fa-users" style="color: #ffffff;"></i> Tài khoản khách hàng</a>
                        </li>
                    </ul>
                </li>
                <!-- QLHD  -->
                <li th:if="${role == 'admin'}" class="nav-item">
                    <a class="nav-link" th:href="@{/panda/hoadon}">
                        <i class="fa-solid fa-file-invoice" style="color: #ffffff;"></i> Quản lý hóa đơn </a>
                </li>
                <!-- Thống kê -->
                <li th:if="${role == 'admin'}" class="nav-item">
                    <a class="nav-link" th:href="@{/panda/thongke}">
                        <i class="fa-solid fa-chart-simple" style="color: #ffffff;"></i> Thống kê </a>
                </li>
            </ul>
        </li>
        <!-- Thêm các mục khác cho vai trò admin và nhân viên -->
    </ul>
</div>
<div class="custom-alert success" id="statusMessage" th:text="${AddStatusMessage}"
     th:if="${AddStatusMessage != null}">
</div>
<div class="custom-alert success" id="statusMessage" th:text="${ErrorStatusMessage}"
     th:if="${ErrorStatusMessage != null}">
</div>
<!-- Content -->
<div class="form-container">
    <h2>Add cổ áo</h2>
    <form class="login-form" th:method="post" th:action="@{/panda/QLSP/CoAo/add}" th:object="${coAo}">
        <div class="form-group">
            <label>Mã cổ áo:</label>
            <input type="text" class="form-control" name="ma" th:field="*{ma}">
            <div th:if="${errorma}" th:text="${errorma}" style="color: red;"></div>
            <div th:if="${#fields.hasErrors('ma')}" class="text-danger">
                <span th:errors="*{ma}"></span>
            </div>
        </div>
        <div class="form-group">
            <label>Tên cổ áo:</label>
            <input type="text" class="form-control" name="ten" th:field="*{ten}">
            <div th:if="${errorten}" th:text="${errorten}" style="color: red;"></div>
            <div th:if="${#fields.hasErrors('ten')}" class="text-danger">
                <span th:errors="*{ten}"></span>
            </div>
        </div>
        <div class="form-group">
            <label>Trạng thái:</label><br>
            <div>
                <input type="radio" name="trangThai" th:field="*{trangThai}" value="true" checked>
                <label>Hoạt động</label>
            </div>
            <div>
                <input type="radio" name="trangThai" th:field="*{trangThai}" value="false">
                <label>Ngừng hoạt động</label>
            </div>
            <div th:if="${#fields.hasErrors('trangThai')}" class="text-danger">
                <span th:errors="*{trangThai}"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Thêm</button>
        <a th:href="@{/panda/coao}" class="btn btn-cancel">Hủy</a>
    </form>

</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
