body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container2 {
    display: flex;
    padding: 20px;
}

.filters {
    width: 20%;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.filters h3 {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.filter-section h4 {
    font-size: 1em;
    margin-bottom: 10px;
}

.filter-section ul {
    list-style-type: none;
    padding: 0;
}

.filter-section ul li {
    margin-bottom: 8px;
}

.products {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-left: 20px;
}

.product-item{
    padding-right: 40px;
}
.card-img-top{
    margin-left: 30px;
}



